 <div class="user-details">
  <h1> Perfil </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Ingenieria Electronica</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Conocimientos tecnicos en reparaciones de dispositivos y equipos electronicos.</p>
    </div>
    <div class="tech">
      <h2>Networking</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Conocimientos en Networking (CCNA 1,2,3), Sistemas Operativos Kali Linux y Python</p>
    </div>
    <div class="tech">
      <h2>Cybersecurity</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Conocimientos basicos en Ethical Hacking, Seguridad de la Informacion(ISO27001CLI) y Gestion de Riesgos(LSCPC/NIST) </p>
    </div>
</div>
