 <div class="user-details">
  <h1> Perfil </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Ing. Electronic</h2>
      <img src='https://icongr.am/octicons/cpu.svg?size=65&color=currentColor'>
      <img src='https://icongr.am/octicons/pulse.svg?size=65&color=currentColor'>
      <p>Bachiller Ingenieria Electronica,conocimientos tecnicos en reparaciones de dispositivos y equipos electronicos.</p>
    </div>
    <div class="tech">
      <h2>Networking</h2>
      <img src="https://icongr.am/devicon/debian-original.svg?size=65&color=currentColor">
      <img src="https://icongr.am/jam/signal.svg?size=65&color=currentColor">
      <img src='https://icongr.am/devicon/python-original.svg?size=65&color=currentColor'>
      <p>Conocimientos en Networking (CCNA 1,2,3), Sistemas Operativos Kali Linux y programacion basica en Python y Bash script</p>
    </div>
    <div class="tech">
      <h2>Cybersecurity</h2>
      <img src="https://icongr.am/fontawesome/user-secret.svg?size=65&color=currentColor">
      <img src="https://icongr.am/fontawesome/unlock-alt.svg?size=65&color=currentColor">
      <p>Conocimientos basicos en Ethical Hacking, Seguridad de la Informacion(ISO27001CLI) y Gestion de Riesgos(LSCPC/NIST) </p>
    </div>
</div>
