<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cherry.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> WriteUps </h3>
    <ul>
      <li> Ethical Hacking</li>
    </ul>
    <p>Website con informes de maquinas resueltas,en diferentes plataformas como TryHackMe, HackTheBox y Vulnhub</p>
    <a class="project-link" href="https://helhat.github.io/">Writeups$Helhat</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/workstation.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tutorials </h3>
    <ul>
      <li> OS,Features,etc</li>
    </ul>
    <p>Un apartado con consejos y tutoriales.Como perzonalizacion de Kali Linux, tools, etc. PROXIMAMENTE... </p>
    <a class="project-link" href="https://helhat.github.io/categories/">Proximamente</a>
  </div>
</div>
