<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> WriteUps </h3>
    <ul>
      <li> Ethical Hacking</li>
    </ul>
    <p>Website para revisar las maquinas resueltas en diferentes plataformas como TryHackMe, HackTheBox y Vulnhub</p>
    <a class="project-link" href="#">https://helder-abm.writeups/</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tutorials </h3>
    <ul>
      <li> OS,Features,etc</li>
    </ul>
    <p>Un Website con tutoriales de perzonalizacion de Kali Linux, Consejos, etc. PROXIMAMENTE... </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
